p {
  font-size: x-small;
}

.project {
  width: 100%;
  max-width: 100%;
}

.project-1 {
  background-image: url(../img/logs_large.png);
}

.project-2 {
  background-image: url(../img/books_large.png);
}

.project-3 {
  background-image: url(../img/neighborhood_large.png);
}
